<html>
<head>
  <title> TLDW </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class = "container ">
    <div class="row fill-height">
      <div class="col-md-6">
        <div class="row fill-height">
          <div class = "col-sm-12 video">
            <iframe class="video" src='<%= videoURL %>?ecver=1' frameborder="0" allowfullscreen></iframe>
          </div>
          <div class = "col-sm-12 comments">
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="time stamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
            <div class="row comment">
              <h2 class="timestamp"> 13:04 - 13:06</h2>
              <h4 class="caption"> Test Test Test Test Test Test Test Test Test Test Test Test Test </h4>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
      </div>
    </div>
  </div>
  <script>

  $( document ).ready(function(){
    function repeat(){
      $.ajax({type: "POST",
              url: '/get_data',
              contentType: 'application/x-www-form-urlencoded',
              data: {id: '<%= id %>'},
              success: function (data) {
                console.log(data);
                if(data.error != "none")
                  setTimeout(function () {
                    repeat();
                }, 5000);
              }
            });
    }
    setTimeout(function () {
      repeat();
  }, 2000);
  });
  </script>
</body>
